body {
    background-image: url("../../../assets/img/background1.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.header {
    font-size: 7vw;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.FirstRow {
    height: 30%;
}
